<footer class=" bg-dark mt-4">
            <div class="row ">
                <h2 class="col-md-4 ml-5 text-light my-3">Ayudar</h2>
                   <div class="col-md-3 mx-3 my-3">
                    <h3 class="text-light" >Information</h3>

                    <a href="#" class="d-block" style="color:#007BFF;">About us</a>
                    <a href="#" class="d-block" style="color:#007BFF;">Branches</a>
                    <a href="#" class="d-block" style="color:#007BFF;">Terms and conditions</a>
                    <a href="#" class="d-block" style="color:#007BFF;">Privacy Policy</a>

             </div>
             <div class="col-md-3 mx-3 my-3">
                 <h3 class="text-light" >Account</h3>

                 <a href="#" class="d-block" style="color:#007BFF;">My Donation</a>
                 <a href="#" class="d-block" style="color:#007BFF;">Awards</a>

                 <a href="#" class="d-block" style="color:#007BFF;">Help</a>

          </div>

         </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
