<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="shraadha.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <title>

        </title>
    </head>
    <body>

<%- include ("partials/header") %>

<div id="intro" class="row mb-2">

    <div id="hi">
        <h1 class="display-2">Ayudar</h1>
        <h1>Eat, Sleep, Donate, Repeat</h1>
        <h4>We focus on creating & expanding a virtual army of blood and plasma donating volunteers who could be searched and contacted by family / care givers of a patient in times of need.</h4>

    </div>
</div>
<div id="profile" class="my-5">
    <h1 class="text-info">HOW WE WORK</h1>
    <hr>
    <div class="container ">
        <div class="row">
            <div class="col-md-3 my-3 about" style="margin-right: 70px;">
                <img src="icon1-300x250.png" alt="">
                <h4 class="ml-2" style="color: orangered;">Schuedule a donation </h4>
                <hr style="color: orangered;">
                <p class="ml-3 mt-2 text-info">Enter the pickup location, and schedule the donation.
                    You would be provided with the deatils of nearby NGO.</p>
            </div>
            <div class="col-md-3 mt-3 about " style="margin-left:50px ; margin-right: 50px;">
               <img src="icon3-300x250.png" alt="">
               <h4 class="ml-2" style="color: orangered;">Earn Rewards And Certificate </h4>
                <hr style="color: orangered;">
                <p class="ml-3 mt-2 text-info">Our brand partners provide our donors gifts* as a “gesture of thanks” for making a difference.
                    Be ready to get surprised!</p>
              </div>
   <div class="col-md-3 my-3 about " style="margin-left: 80px" >
       <img src="iconvannew-1-300x200.png"  alt="">
       <h4 class="ml-2" style="color: orangered;">Easy Accesbility </h4>
                <hr style="color: orangered;">
                <p class="ml-3 mt-2 text-info">We provide our clients with easy Accesbility of Blood and plasma .
                    We are available 24*7.
                </p>
   </div>

</div>
</div>
</div>

<div id="skills" class="container " style="margin-left:20% ;">
   <h1 class="text-info m-3">Policies:  </h1>
   <hr>
   <div class="row">
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="convinent.png" alt="">
        <h4 class="m-2" style="color: orangered;">Super Convenient</h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">Donate reusable items from the convenience of
            your house. Avail doorstep pickup and get your donations delivered to the ones in need.</p>
    </div>
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="value donation.png" alt="">
        <h4 class="m-2" style="color: orangered;">Your Donations are Valued </h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">We make sure your donations reach someone who
            really requires them by delivering them to the beneficiaries directly.</p>
    </div>
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="feel good.png" alt="">
        <h4 class="m-2" style="color: orangered;">Feel Good Factor </h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">Giving gives you pleasure and makes you
            happier bringing a positive and uplifting effect on you.</p>
    </div>
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="save environment.png" alt="">
        <h4 class="m-2 ml-3" style="color: orangered;">Save the Environment </h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">Keep your unwanted belongings out of landfill by
            giving them a new life and getting them in hands of someone who really requires them.</p>
    </div>
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="surprise.png" alt="">
        <h4 class="m-2" style="color: orangered;">Get Surprise Rewards </h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">We surprise you time to time by sending you
            our exclusive “happiness box” containing surprise goodies and vouchers for you.</p>
    </div>
    <div class="col-md-3 my-3 ind" style="margin-right: 70px;">
        <img src="transparent.png" alt="">
        <h4 class="m-2" style="color: orangered;">Transparent Process </h4>
        <hr style="color: orangered;">
        <p class="ml-3 mt-2 text-info">Your donations reaches the beneficiaries as it is
            through our verified trusted partner NGOs audited on regular basis.</p>
    </div>
       </div>

   </div>





<div id="resume" class="container">

        <h1 class="text-info m-3">Recently Added NGO's  </h1>
            <hr>
            <div class="row">
             <div class="col-md-3 my-3 indi" style="margin-right: 70px; border: 1px dashed grey; ">
                <a href="#ngo">
                 <img src="lovedale ngo.jpg" alt="" class="ml-4">

                </a>
                <a href="#ngo" style="display: block;" class="mx-4">Lovedale Foundation</a>

             </div>
             <div class="col-md-3 my-3 indi" style="margin-right: 70px; border: 1px dashed grey; ">
                <a href="#ngo">
                 <img src="Mobilityindia.jpg" alt="" class="ml-4">

                </a>
                <a href="#ngo" style="display: block;" class="mx-4">Mobility India</a>

             </div>
             <div class="col-md-3 my-3 indi" style="margin-right: 70px; border: 1px dashed grey; ">
                <a href="#ngo">
                 <img src="sambhav.jpg" alt="" class="ml-4">

                </a>
                <a href="#ngo" style="display: block;" class="mx-4">Sambhav Foundation</a>

             </div>
             <div class="col-md-2"></div>
             <div class="col-md-3 my-3 indi" style="margin-right: 70px; border: 1px dashed grey; ">
                <a href="#ngo">
                 <img src="baalemane.jpg" alt="" class="ml-4">

                </a>
                <a href="#ngo" style="display: block;" class="mx-4">Baalemane Foundation</a>

             </div>
             <div class="col-md-1"></div>
             <div class="col-md-3 my-3 indi" style="margin-right: 70px; border: 1px dashed grey; ">
                <a href="#ngo">
                 <img src="acceptsociety.jpg" alt="" class="ml-4">

                </a>
                <a href="#ngo" style="display: block;" class="mx-4">Accept Society</a>

             </div>
</div>
</div>

<%- include ("partials/footer") %>

<script>

           $(document).ready(function()
           {
               $('#profile').waypoint(function(direction)
               {
                   $('.about').addClass('animate__animated animate__fadeInLeft ')
               },
               {
                   offset: '50%'
               });
           });

           $(document).ready(function()
           {
               $('#skills').waypoint(function(direction)
               {
                   $('.ind').addClass('animate__animated animate__jackInTheBox')
               },
               {
                   offset: '50%'
               });
           });

           $(document).ready(function()
           {
               $('#resume').waypoint(function(direction)
               {
                   $('.indi').addClass('animate__animated animate__wobble')
               },
               {
                   offset: '50%'
               });
           });
           document.documentElement.style.setProperty('--animate-duration', '2s');
       </script>
   </body>
</html>
