<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="shraadha.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <title>

        </title>
    </head>
    <body>

      <%- include ("partials/header") %>

      <div id="profile" class="my-5">



           <div class="row">

               <div class="col-md-10 my-3" style="margin-right: 70px;" id="first">
                   <div class="row">
                   <img src="lovedale ngo.jpg" alt="" style="width: 50% height: 80%;; margin: auto; border-right:1px dashed gray" class="col-md-5">
                   <div class="col-md-4 mt-5">
                   <h2 class="ml-2" style="color: orangered;">LOVEDALE FOUNDATION </h2>
                   <hr style="color: orangered;">
                   <h3 class="ml-2 mt-2 text-info">About :</h3>
                   <hr>
                   <p> Lovedale Foundation is one of Community Development Center in India,Bangalore and intent is to create socially viable solutions that contribute to the holistic development of the communities we work with, especially the underprivileged and venerable children, women and youth in Society. Our friendly, knowledgeable and professional staff strives hard to reach sustainable and innovative in intent, design and delivery solutions.</p>
                   <button class="btn btn-info mr-1"><a href="donate.html"  style="color:white;">Donate Plasma</a></button>
                   <button class="btn btn-info mr-1 "><a href="donateb.html"  style="color:white;">Donate Blood</a></button>
                   <button class="btn btn-info mx-1"><a href="https://sadsindia.org/ngo/lovedale-foundation/"  style="color:white;">Web</a></button>

                   </div>
               </div>
               <hr style="width: 50%;">
               </div>

               <div class="col-md-10 my-3 about" style="margin-right: 70px;" id="second">
                   <div class="row">
                   <img src="Mobilityindia.jpg" alt="" style="width: 50% height: 50%;; margin: auto; border-right:1px dashed gray" class="col-md-5">
                   <div class="col-md-4 mt-5">
                   <h2 class="ml-2" style="color: orangered;">MOBILITY INDIA</h2>
                   <hr style="color: orangered;">
                   <h3 class="ml-2 mt-2 text-info">About :</h3>
                   <hr>
                   <p> Mobility India (MI) established in Bangalore, as a Registered Society, in 1994 has been a progressive force in the disability, development and rehabilitation sector.
                    MI’s vision of an empowered and inclusive community, points to a future in which there is greater equity and neglected sections specifically people with disabilities, elderly population and other disadvantaged groups are part of the development process. MI aims to achieve this through comprehensive healthcare, education, livelihood and social services especially for poor, particularly children, women and older people living in urban slums and rural areas.</p>
                   <button class="btn btn-info mr-1 "><a href="donate.html"  style="color:white;">Donate Plasma</a></button>
                   <button class="btn btn-info mr-1 "><a href="donateb.html"  style="color:white;">Donate Blood</a></button>
                   <button class="btn btn-info mx-1"><a href="https://sadsindia.org/ngo/mobility-india/"  style="color:white;">Web</a></button>

                   </div>
               </div>
               <hr style="width: 50%;">
               </div>
               <hr>
               <div class="col-md-10 my-3 about" style="margin-right: 70px;" id="third">
                   <div class="row">
                   <img src="sambhav.jpg" alt="" style="width: 100% height: 50%;; margin: auto; border-right:1px dashed gray" class="col-md-5">
                   <div class="col-md-4 mt-5">
                   <h2 class="ml-2" style="color: orangered;">SAMBHAV</h2>
                   <hr style="color: orangered;">
                   <h3 class="ml-2 mt-2 text-info">About :</h3>
                   <hr>
                   <p> Sambhav Foundation is dedicated to the service of those who are in need. Sambhav has two main initiatives
                   Sponsorship of vocational education and training programmes for the deserving and needy candidates and informal sector workers identified by LabourNet. Sambhav identifies school drop outs/ college drop outs and first time learners and hand holds them for the duration of training and beyond till they are capable of earning a decent livelihood. Sambhav has reached out to over 3000 disadvantaged but talented youth since its inception.</p>
                   <button class="btn btn-info mr-1 " ><a href="donate.html"  style="color:white;">Donate Plasma</a></button>
                   <button class="btn btn-info mr-1 "><a href="donateb.html"  style="color:white;">Donate Blood</a></button>
                   <button class="btn btn-info mx-1"><a href="https://sadsindia.org/ngo/sambhav-foundation/"  style="color:white;">Web</a></button>

                   </div>
               </div>
               <hr style="width: 50%;">
               </div>
               <hr>
               <div class="col-md-10 my-3 about" style="margin-right: 70px;"id="fourth">
                   <div class="row">
                   <img src="baalemane.jpg" alt="" style="width: 100% height: 50%;; margin: auto; border-right:1px dashed gray" class="col-md-5">
                   <div class="col-md-4 mt-5">
                   <h2 class="ml-2" style="color: orangered;">BAALE MANE TRUST</h2>
                   <hr style="color: orangered;">
                   <h3 class="ml-2 mt-2 text-info">About :</h3>
                   <hr>
                   <p> The Baale Mane (‘Girl’s Home’ in Kannada, the local language in Bangalore) is a home situated on the outskirts of the city of Bangalore, India, for up to 50 girls between the ages of 7 and 18. We welcome and support girls of all faiths and we do not discriminate on the grounds of caste or creed.</p>
                   <button class="btn btn-info mr-1 "><a href="donate.html"  style="color:white;">Donate Plasma</a></button>
                   <button class="btn btn-info mr-1 "><a href="donateb.html"  style="color:white;">Donate blood</a></button>
                   <button class="btn btn-info mx-1"><a href="https://sadsindia.org/ngo/baale-mane-trust/"  style="color:white;">Web</a></button>

                   </div>
               </div>
               <hr style="width: 50%;">
               </div>

               <div class="col-md-10 my-3 about" style="margin-right: 70px;" id="fifth">
                   <div class="row">
                   <img src="acceptsociety.jpg" alt="" style="width: 100% height: 50%;; margin: auto; border-right:1px dashed gray" class="col-md-5">
                   <div class="col-md-4 mt-5">
                   <h2 class="ml-2" style="color: orangered;">ACCEPT SOCIETY </h2>
                   <hr style="color: orangered;">
                   <h3 class="ml-2 mt-2 text-info">About :</h3>
                   <hr>
                   <p>  ACCEPT seeks to be a door of opportunity for patients. They need a door that does not shut on their face. They need people who will care for them till their death or till their families learn to accept and look after them. ACCEPT would be that door which opens for them.
1999: Society registered and work started from Raju Mathew’s home as office
2002: Care Home Opened
2005: Children Home Started
2005: TB Ward Opened
2010: Building for Children Home expanded
2014: Separate home for girl children
2014: Care beyond HIV to elderly care home</p>
                   <button class="btn btn-info mr-1 "><a href="donate.html"  style="color:white;">Donate Plasma</a></button>
                   <button class="btn btn-info mr-1 "><a href="donateb.html"  style="color:white;">Donate Blood</a></button>
                   <button class="btn btn-info mx-1"><a href="https://sadsindia.org/ngo/accept-society/" style="color:white;">Web</a></button>

                   </div>
               </div>
               </div>
               <hr style="width: 50%; ">
               </div>
    </div>
    <%- include ("partials/footer") %>
    <script>

           $(document).ready(function()
           {
               $('#profile').waypoint(function(direction)
               {
                   $('#first').addClass('animate__animated animate__fadeInLeft ')
               },
               {
                   offset: '50%'
               });
           });

           $(document).ready(function()
           {
               $('#first').waypoint(function(direction)
               {
                   $('#second').addClass('animate__animated animate__jackInTheBox')
               },
               {
                   offset: '30%'
               });
           });

           $(document).ready(function()
           {
               $('#second').waypoint(function(direction)
               {
                   $('#third').addClass('animate__animated animate__fadeInLeft ')
               },
               {
                   offset: '30%'
               });
           });

           $(document).ready(function()
           {
               $('#third').waypoint(function(direction)
               {
                   $('#fourth').addClass('animate__animated animate__jackInTheBox')
               },
               {
                   offset: '30%'
               });
           });

           $(document).ready(function()
           {
               $('#fourth').waypoint(function(direction)
               {
                   $('#fifth').addClass('animate__animated animate__fadeInLeft ')
               },
               {
                   offset: '30%'
               });
           });

           $(document).ready(function()
           {
               $('#first').waypoint(function(direction)
               {
                   $('#second').addClass('animate__animated animate__jackInTheBox')
               },
               {
                   offset: '30%'
               });
           });


           document.documentElement.style.setProperty('--animate-duration', '2s');
       </script>
   </body>
</html>
