@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

body {
  
}
.bg2{
  
  background: rgba(241, 148, 138,0.4);
        position: relative;
        height: 100vh;
        box-shadow: 1px 1px 10px black;
        
}

.wrapper {
  width: 650px;
  height: 650px;
  position: relative;
  background: rgba(0,0,0,0.4);
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
    
}

.wrapper .radio_tabs {
  height: 60px;
  position: relative;
  background: rgba(0,0,0,0.4);
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 18px;
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.wrapper .radio_tabs label {
  margin-right: 15px;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}

.wrapper .radio_tabs .radio_mark:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: url("https://i.imgur.com/3OGSx5M.png.png") no-repeat 0 0;
  width: 22px;
  height: 22px;
}

.wrapper .radio_tabs label .input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;

}

.wrapper .radio_tabs label .input:checked ~ .radio_mark {
  color: #ff5d66;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark:before {
  background-position: 0 -23px;
  width: 22px;
  height: 22px;
}

.wrapper .content {
  width: 100%;
  height: calc(100% - 70px);
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  color: white;
}

.wrapper .content p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 15px;
}
input{
  background: rgba(0,0,0,0.2);
  
}
::placeholder{
  font-family: cursive;
  font-size: 22px;
}